.Work_Carousel{
    flex:3;
    height: 100%;
    width: 100%;
    z-index: 10;
    overflow: hidden;
}
.inner-work-carosuel{
    height: 100%;
    width: 100%;
    /* background: rgba(219, 219, 219, 0.435); */
    overflow-y: scroll;

}
.work-card-container{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.work-name-container{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}
.work-image-container{
    height: 90%;
    background: rgb(219, 219, 219);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}