#Team{
    height: 60vh;
    width: 100%;
    margin: 50px 0px;
}
.team-container{
    height: 100%;
    width: 100%;
    padding: 0px 80px;
}
.team-top-container{
    font-size: 3.3vw;
    font-weight: 600;
    background: -webkit-linear-gradient(27deg, rgba(34,86,195,1) 0%, rgba(251,0,20,1) 20%, rgba(253,187,45,1) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin-bottom: 30px; */
    height: 15%;
    text-align: left;
}
.team-bottom-container{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media screen and (min-width:2000px) {
    #Team{
        height: 70vh;
        width: 100%;
    }
}

@media screen and (max-width:1200px) {
    #Team{
        height: 50vh;
        width: 100%;
    }
    .team-member-designation{
        font-size: 0.7rem;
    }
}

@media screen and (max-width:1100px) {
    #Team{
        height: 70vh;
        width: 100%;
    }
}

@media screen and (max-width:1020px) {
    #Team{
        height: 100%;
        width: 100%;
    }
    .team-bottom-container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center ;
        justify-content: center;
    }
    .team-member-designation{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:850px) {
    .team-container{
        padding: 0px 50px;
    }
}

@media screen and (max-width:470px) {
    .team-container{
        padding: 0px 20px;
    }
}