.Company_Carousel {
  flex: 2;
  height: 100%;
}
.inner-company-carousel {
  height: 100%;
  width: 100%;
}
.company-name-image-container {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: rgb(219, 219, 219);
}

#logoCarousel {
  flex: 2;
  height: 100%;
}

@media screen and (min-width: 1500px) {
  .carousel-caption {
    font-size: 0.8vw !important;
  }
  .carousel-caption h5{
    font-size: 1.3vw !important;
  }
}

@media screen and (max-width: 900px) {
  #logoCarousel {
    flex: none;
    height: 40%;
  }
}
