.Company_Carousel {
  flex: 1 !important;
  height: 100%;
}
.logoCarouselContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 2;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0,212,255,0) 100%),url("../../../images/solutions/sec02-block-07@3x.png");
  background-repeat: no-repeat;
  object-fit: fill;
  border-radius: 30px;
  /* border: 1px solid rgba(0, 0, 0, 0.223); */
  overflow: hidden !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#logoCarousel{
  width: 100% !important;
  height: 50% !important;
  overflow: hidden !important;
  margin-bottom: 10px !important;
}
#workNameCarousel{
  width: 100% !important;
  height: 50% !important;
  padding: 30px !important;
  overflow: hidden !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: white !important;
  text-align: center !important;
}
.carousel-caption-logo-name h5{
  position: absolute;
  text-align: center !important;
  width: 100%;
  top: 40%;
  left: 10px;
  font-size: 55px !important;
  font-weight: 600;
  background: -webkit-linear-gradient(27deg, rgba(34,86,195,1) 0%, rgba(251,0,20,1) 20%, rgba(253,187,45,1) 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin-bottom: 30px; */
  height: 100%;
  text-align: left;
}
.carousel-caption-work-name h5{
  position: absolute;
  text-align: center !important;
  width: 100%;
  top: 40%;
  left: 10px;
  font-size: 55px !important;
  font-weight: 600;
  background: -webkit-linear-gradient(27deg, rgba(34,86,195,1) 0%, rgba(251,0,20,1) 20%, rgba(253,187,45,1) 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin-bottom: 30px; */
  height: 100%;
  text-align: left;
}



.inner-company-carousel {
  height: 100%;
  width: 100%;
}
.company-name-image-container {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: rgb(219, 219, 219);
}

#logoCarousel {
  flex: 2;
  height: 100%;
}

@media screen and (min-width: 1500px) {
  /* .carousel-caption {
    font-size: 0.8vw !important;
  } */
  /* .carousel-caption h5{
    font-size: 1.3vw !important;
  } */
}

@media screen and (max-width: 900px) {
  #logoCarousel {
    flex: none;
    height: 40%;
  }
}
