*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Outfit', sans-serif;
}

@media screen and (min-width:1500px) {
  .App{
    width: 100%;
    padding: 0rem 10rem;
  }
}
@media screen and (min-width:2000px) {
  .App{
    width: 100%;
    padding: 0rem 20rem;
  }
}